.sidebar .sidebar-nav {
	padding: 9px 0;
	/*height: 500px;*/
}
.sidebar .nav {
	margin-left: 0;
	margin-bottom: 18px;
	list-style: none;
}
.sidebar .nav > li > a {
	display: block;
}
.sidebar .nav > li > a:hover {
	text-decoration: none;
	background-color: #f5f5f5;
}
.sidebar .nav > .pull-right {
	float: right;
}
.sidebar .nav .navbar-header {
	display: block;
	padding: 3px 15px;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #707556;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}
.sidebar .nav li + .navbar-header {
	margin-top: 9px;
}

.sidebar .sidebar-nav {
	min-height: 0;
	box-shadow: 0 0 10px #BDBDBD;
	-webkit-box-shadow: 0 0 10px #BDBDBD;
	-moz-box-shadow: 0 0 10px #BDBDBD;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.sidebar .sidebar-nav > ul > li:not(.nav-header) {
	margin-right: -2px;
	margin-left: -2px;
}
.sidebar .well{
	background-color: rgba(204, 206, 204, 0.25);
}